


html{
  font-family: 'Roboto Slab', sans-serif;
}
body{
  background: #55D6F4;
  color: #313E48;
}
img{
  max-width: 100%;
}

.box{
  margin: em auto;
  background: #f0f0f0;

  border-radius: 2.5px;
  box-shadow: 0px 1px 7px rgba(0,0,0, 0.25);
  
 box-shadow: 0px 1px 4px rgba(0,0,0, 0.5);

}


  h1{
    font-size: 1em;
    text-align: center;
  }
  .temp {
    font-size: 3.5em;
    line-height: 1;
    text-align: center;
    display: block;
    padding-left: 15px;
    margin-bottom: 12px;
  }
  .high-low {
    font-size: 1em;
    color: lighten(#313E48, 10%);
    text-align: center;
    display: block;
    font-weight: 50;
  }

.weather .icon{
  position: relative;
  margin: 0 auto;
}
.spin{
  position: absolute;
  top: 8px;
  right: 9px;
  text-align: center;
  width: 45px;
}


  .bubble.black {
    background-color: #918d91;
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

  /* .bubble.black:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 7px;
    border-style: solid;
    border-width: 19px 7px 0;
    border-color: #e8ebee transparent;
    display: block;
    width: 0;
    z-index: 1;
    transform: rotate(30deg);
  } */




.spin img{
  animation: spin 5s linear infinite;
  animation-play-state: paused;
}

.box:hover .spin img{
   animation-play-state: running;
}
@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
.main {
  margin-top: 50px;
}
/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background: #cef;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}
.img1{
  height: auto;
  width: auto;
}
.widget {
  background: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
  width: 900px;
  height: 550px;
  border-radius: 6px;
  box-shadow: 0px 60px 80px -20px rgba(39, 165, 253, 0.4);
  position: relative;
  overflow: hidden;
  
}


.details {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 60px;
}

.temperature {
  color: white;
  font-weight: 300;
  font-size: 4em;
}

.summary {
  color: #d2e9fa;
  font-size: 2em;
  font-weight: 300;
  width: 260px;
  margin-top: -16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #9cd0ff;
  margin-left: 8px;
}

.summaryText {
  margin: 0;
  margin-left: 56px;
}

.humidity,
.wind {
  color: #d2e9fa;
  font-size: 1.6em;
  font-weight: 300;
  margin-left: 8px;
}

.precipitation {
  margin-top: 16px;
}

.wind {
  margin-top: 4px;
}
#Append .SearchedCities:hover{
  color: red;
}